# Files to ignore
*.DS_Store

# Compiled
*.jar
*.class
*/bin
*__pycache__
*.pyc
*/gen

# Metadata is a huge folder of who-knows-what
*.metadata/

# Neural net has it's own home
/NetworkTraining/neuralnet
/NetworkTraining/results
/NetworkTraining/.settings
