# Files to ignore
*.DS_Store

# Compiled
*.jar
*.class
*/bin
*__pycache__
*.pyc
*/gen

# Metadata is a huge folder of who-knows-what
*.metadata/

# The results are generated
/NetworkTraining/results
/NetworkTraining/.settings

# Xcode files
GLPaint/GLPaint.xcodeproj/project.xcworkspace/
GLPaint/GLPaint.xcodeproj/xcuserdata/

# Generated images
NetworkTraining/testdata/

# Split of the huge data
NetworkTraining/data/train.csv
NetworkTraining/data/test.csv
